.success {
    color: rgb(28, 184, 65);
}

.failure {
    color: rgb(202, 60, 60);
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
    color:white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.padding {
    padding:10px;
}

.text-center {
    text-align: center;
}

.button-xlarge {
    font-size: 125%;
}

.vertical-center {
    position:absolute;
    top:50%;
    left:50%;
    padding:15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.logo {
    width: 300px;
    height:150px;
}

.panel-dark {
    border-bottom: 1px solid;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.padding-vertical {
    padding: 10px 0 10px;
}
.margin-auto {
    margin-left:auto;
    margin-right:auto;
}