<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <title>Brewfer</title>

    <script src="lib/jquery-2.1.4.min.js"></script>
    <script src="lib/jquery.dataTables.min.js"></script>
    <script src="lib/remodal.min.js"></script>
    <script src="lib/handlebars.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="css/layouts/side-menu.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="css/remodal.css"/>
    <link rel="stylesheet" href="css/remodal-default-theme.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">BREWFER</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Data</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="geo-coords" >Geolocation</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="logout" >Logout</a></li>
            </ul>
        </div>
    </div>
    <div id="main">
        <div class="header">
            <h1>Bulk Upload</h1>
            <h2>Download the template <a href="template/template.xlsx">here</a></h2>

            <form id="form-upload" class="pure-form" action="http://localbrewfer.com/api/v1/upload" enctype="multipart/form-data" method="POST">
                <fieldset>
                    <div class="pure-g">
                        <div class="pure-u-1-3">
                        <input type="file" name="bulk_upload" id="bulk_upload">
                        </div>
                        <div class="pure-u-1-3">
                            <select id="option" name="city_id">
                                <option value='' disabled selected style='display:none;'>Select City for Upload</option>
                            </select>
                        </div>
                        <div class="pure-u-1-3">
                        <label for="enableValidation">
                            <input id="enableValidation" name="enableValidation" type="checkbox" checked> Enable Validation? (Recommended)
                        </label>
                        </div>
                    </div>
                    <br/>
                    <div class="pure-g">
                        <div class="pure-u-1-1">
                            <button type="submit" name="submit" class="button-xlarge pure-button pure-button-primary">Upload File</button>
                        </div>
                    </div>
                    <input type="hidden" name="file_name" id="fileName">
                </fieldset>
            </form>

            <span id="status"></span>
        </div>

        <div class="header">
            <h1>Data Management</h1>
            <h2>For loading Brewfer data files to the Database</h2>
        </div>
        <div class="content padding">
            <table id="dataTable" class="cell-border"></table>
        </div>
    </div>

    <div id="details-modal" class="remodal" data-remodal-id="modal"></div>


    <script id="details-modal-template" type="text/x-handlebars-template">
        <div>
            <button data-remodal-action="close" class="remodal-close"></button>
            <h1>{{title}}</h1>
            <div class="pure-g">

                <div class="pure-u-1-2">
                    Created At
                </div>

                <div class="pure-u-1-2">
                    {{created}}
                </div>
                <div class="pure-u-1-2">
                    Status
                </div>

                <div class="pure-u-1-2">
                    {{#if success}}
                    <span class="success">{{status}}</span>
                    {{else}}
                    <span class="failure">{{status}}</span>
                    {{/if}}
                </div>

                <div class="pure-u-1-2">
                    Message
                </div>
                <div class="pure-u-1-2">
                    {{message}}
                </div>

                <div class="pure-u-1-2">
                    Number of Records
                </div>
                <div class="pure-u-1-2">
                    {{records}}
                </div>

                <div class="pure-u-1-2">
                    Records with Errors
                </div>
                <div class="pure-u-1-2">
                    {{errorNumber}}
                </div>

                <div class="pure-u-1-2">
                    Records Inserted
                </div>
                <div class="pure-u-1-2">
                    {{inserted}}
                </div>

                <div class="pure-u-1-2">
                    City
                </div>
                <div class="pure-u-1-2">
                    {{city}}
                </div>
            </div>
            {{#if showDelete}}
            <div class="pure-g">
                <div class="pure-u-1-1">
                    <button class="pure-button button-error" id="deleteRecords" value="{{id}}">Delete Records</button>
                </div>
            </div>
            {{/if}}
            <div class="pure-g">
                {{#if errors}}
                <div class="pure-u-1">
                    <h1>Validation Errors</h1>
                </div>
                <div class="pure-u-1">
                    {{#each errors}}
                    <li>{{@key}} : {{this}}</li>
                    {{/each}}
                </div>
                {{/if}}
            </div>
        </div>
    </script>

    <script id="geo-modal-template" type="text/x-handlebars-template">
        <div>
            <button data-remodal-action="close" class="remodal-close" id="geoClose"></button>
            <h1>{{title}}</h1>
            <div class="pure-g">
                <div class="pure-u-1-2">
                    Records to be updated:
                </div>
                <div class="pure-u-1-2" id="record_to_updated">
                    {{records_to_be_updated}}
                </div>

                <div class="pure-u-1-2">
                    Records Updated:
                </div>
                <div class="pure-u-1-2" id="record_updated">
                    {{records_updated}}
                </div>

                <div class="pure-u-1-2">
                    No co-odinates found:
                </div>
                <div class="pure-u-1-2" id="record_cannot_updated">
                    {{records_cannot_update}}
                </div>
                </div>
                <br>
                <div class="pure-g">
                    <div class="pure-u-1-1">
                        <button type="button" name="fetch-geo" id="fetch-geo" class="pure-button pure-button-primary text-center">Fetch</button>
                    </div>
                    <br>
                    <div class="pure-u-1-1">
                        <div id="geo-message"></div>
                    </div>
                </div>
        </div>
    <script src="js/ui.js"></script>
</div>
</body>
</html>